Repository HRI-EU/rosenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, format, typing, lint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "^tests/resources/rosdep_mocks/.*$"
repos:
    - hooks:
        - id: trailing-whitespace
          args: [--markdown-linebreak-ext=md]
        - id: check-added-large-files
        - id: check-executables-have-shebangs
        # basic checks for custom yaml syntax, i.e. !reference
        -   id: check-yaml
            name: Check YAML (unsafe)
            args: [--unsafe]
            files: .gitlab-ci.yml
        # check other yaml files normally
        -   id: check-yaml
            exclude: .gitlab-ci.yml
        - id: check-json
        - id: check-toml
        - id: check-merge-conflict
        - id: forbid-submodules
      repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
    - repo: local
      hooks:
        - entry: poetry lock --check
          id: lockfile
          language: system
          name: Lockfile check
          files: '(pyproject.toml|poetry.lock)'
          require_serial: true
          pass_filenames: false
        - entry: ./ci-format.sh
          id: format
          language: system
          name: Formatting
          types: [python]
        - entry: ./ci-typing.sh
          id: typing
          language: system
          name: typing
          types: [python]
          require_serial: true
          pass_filenames: false
        - entry: ./ci-lint.sh
          id: lint
          language: system
          name: linting
          types: [python]
        - entry: ./ci-bst-check.sh
          id: bst_check
          language: system
          name: bst checks
          stages: [manual]
          require_serial: true
          pass_filenames: false
        - entry: ./ci-unit-test.sh
          id: unit tests
          language: system
          name: unit tests
          types: [python]
          stages: [manual]
          require_serial: true
          pass_filenames: false
        - entry: ./ci-integration-test.sh
          id: integration tests
          language: system
          name: integration tests
          types: [python]
          stages: [manual]
          require_serial: true
          pass_filenames: false

chore: Update poetry version
  .github/actions/setup-poetry/action.yml
  docker/humble.Dockerfile
Due: none

style: Use alphabetic sorting
  .github/workflows/main.yml
Due: none

fix integration tests
  src/robenv/commands/add.py
  tests/integration/commands/conftest.py
  tests/integration/commands/test_add.py
  tests/integration/commands/test_remove.py
  tests/resources/test_debs/nodeps2_0.0.0_all.deb
Due: format, typing, lint

add command: changes arguments to use asterix or multiple paths/names
  pyproject.toml
  src/robenv/commands/add.py
Due: lockfile, format, typing, lint

issue8: added option to add deb files via folder path
  src/robenv/commands/add.py
Due: format, typing, lint

int_test: added int test for multiple added packages
  tests/integration/commands/conftest.py
  tests/integration/commands/test_add.py
  tests/resources/test_debs/nodeps-clone_0.0.0_all.deb
  tests/resources/test_debs/nodeps2_0.0.0_all.deb
Due: format, typing, lint

[SSE-42] install ros archhive in rosenv
  src/robenv/commands/initialize.py
  src/robenv/environment/distro.py
  src/robenv/environment/initialize.py
  src/rosenv/ros/__init__.py
  src/rosenv/ros/ros.py
Due: format, typing, lint

[SSE-43] update dependecies
  poetry.lock
Due: lockfile

[SSE-43] smaller fixes
  src/rosenv/ros/ros.py
Due: format, typing, lint

[SSE-43] check if link/file is ros2
  src/robenv/commands/initialize.py
  src/rosenv/ros/ros.py
Due: format, typing, lint

[SSE-43] fixup
  src/robenv/commands/initialize.py
  src/robenv/environment/distro.py
  src/robenv/environment/initialize.py
  src/robenv/environment/shell.py
  src/robenv/templates/setup.sh.template
  src/rosenv/ros/ros.py
Due: format, typing, lint

[SSE-43] rebase and fixup
  poetry.lock
  src/robenv/commands/initialize.py
  src/robenv/environment/distro.py
  src/robenv/environment/env.py
  src/robenv/environment/initialize.py
  src/robenv/environment/shell.py
  src/robenv/ros/__init__.py
  src/robenv/ros/ros.py
  src/robenv/templates/setup.sh.template
Due: lockfile, format, typing, lint

added download progress to add command
  src/robenv/commands/add.py
Due: format, typing, lint

added missing copyright headers
  src/robenv/ros/__init__.py
  src/robenv/ros/ros.py
Due: format, typing, lint

made naming a bit clearer in Ros Class
  src/robenv/commands/add.py
  src/robenv/ros/__init__.py
  src/robenv/ros/ros.py
  tests/integration/commands/__init__.py
Due: format, typing, lint

fix shell activation
  src/robenv/environment/initialize.py
  src/robenv/environment/shell.py
  src/robenv/templates/__init__.py
  src/robenv/templates/activate.template
  src/robenv/templates/setup.sh.template
  tests/unit/environment/test_shell.py
Due: format, typing, lint

fix build problems
  poetry.lock
  pyproject.toml
  src/robenv/environment/distro.py
  src/robenv/environment/env.py
  src/robenv/environment/initialize.py
  src/robenv/environment/shell.py
  src/robenv/ros/ros.py
  src/robenv/ros_package/builder.py
  src/robenv/templates/__init__.py
  src/robenv/templates/activate.template
  tests/integration/commands/install/test_install.py
  tests/unit/environment/test_shell.py
Due: lockfile, format, typing, lint
