Repository HRI-EU/rosenv: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, format, typing, lint

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: "^tests/resources/rosdep_mocks/.*$"
repos:
    - hooks:
        - id: trailing-whitespace
          args: [--markdown-linebreak-ext=md]
        - id: check-added-large-files
        - id: check-executables-have-shebangs
        # basic checks for custom yaml syntax, i.e. !reference
        -   id: check-yaml
            name: Check YAML (unsafe)
            args: [--unsafe]
            files: .gitlab-ci.yml
        # check other yaml files normally
        -   id: check-yaml
            exclude: .gitlab-ci.yml
        - id: check-json
        - id: check-toml
        - id: check-merge-conflict
        - id: forbid-submodules
      repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
    - repo: local
      hooks:
        - entry: poetry lock --check
          id: lockfile
          language: system
          name: Lockfile check
          files: '(pyproject.toml|poetry.lock)'
          require_serial: true
          pass_filenames: false
        - entry: ./ci-format.sh
          id: format
          language: system
          name: Formatting
          types: [python]
        - entry: ./ci-typing.sh
          id: typing
          language: system
          name: typing
          types: [python]
          require_serial: true
          pass_filenames: false
        - entry: ./ci-lint.sh
          id: lint
          language: system
          name: linting
          types: [python]
        - entry: ./ci-bst-check.sh
          id: bst_check
          language: system
          name: bst checks
          stages: [manual]
          require_serial: true
          pass_filenames: false
        - entry: ./ci-unit-test.sh
          id: unit tests
          language: system
          name: unit tests
          types: [python]
          stages: [manual]
          require_serial: true
          pass_filenames: false
        - entry: ./ci-integration-test.sh
          id: integration tests
          language: system
          name: integration tests
          types: [python]
          stages: [manual]
          require_serial: true
          pass_filenames: false

Updated HRI logo to version with white background
  assets/hri.png
Due: none

rm: Delete gitlab issue_templates
  .gitlab/issue_templates/Default.md
Due: none

fix: Remove duplicated line
  .github/workflows/main.yml
Due: none

rm: Remove BST tool checks
  ci-bst-check.sh
  pkgInfo.py
Due: format, typing, lint

rm: Remove sonarqube configs
  sonar-project.properties
Due: none

chore: Update ruff to latest version
  poetry.lock
  pyproject.toml
  src/rosenv/commands/shell.py
Due: lockfile, format, typing, lint

chore: Dependency updates
  poetry.lock
Due: lockfile

rm: Remove gitlab-ci
  .gitlab-ci.yml
Due: none

chore: Update poetry version
  .github/actions/setup-poetry/action.yml
Due: none

rm: Remove pylint config
  pyproject.toml
Due: lockfile

rm: Remove internal gitlab repository
  pyproject.toml
Due: lockfile

rm: Remove internal docker container
  docker/Makefile
  docker/rosenv.Dockerfile
Due: none

fix: poetry lock check action
  .github/workflows/main.yml
  poetry.lock
Due: lockfile

fix: add missing file for locate test
  tests/resources/locate_rosenv_tree/rosenv/.gitkeep
Due: none

fix: fix integration test environment container
  .github/actions/setup-poetry/action.yml
  .github/workflows/main.yml
Due: none

fix: disable cached poetry for integration tests
  .github/actions/setup-poetry/action.yml
Due: none

ci: use smaller noetic image
  .github/workflows/main.yml
Due: none

ci: remove ubuntu 18.04 from unit tests
  .github/workflows/main.yml
Due: none

fix: set correct paths in integration tests for ros distros that are not noetic
  tests/integration/commands/__init__.py
  tests/integration/commands/test_add.py
Due: format, typing, lint

fix: fix add command integration tests
  tests/integration/commands/conftest.py
  tests/integration/commands/test_add.py
  tests/integration/commands/test_info.py
  tests/integration/commands/test_remove.py
  tests/resources/test_debs/dep-on-nodeps_0.0.0_all.deb
Due: format, typing, lint

fix: remove suboptimal info command tests
  tests/integration/commands/test_info.py
Due: format, typing, lint

fix: fix remove command integration tests
  scripts/update_rosdep_cache_mocks.sh
  tests/integration/commands/__init__.py
  tests/integration/commands/conftest.py
  tests/integration/commands/test_add.py
  tests/integration/commands/test_remove.py
  tests/resources/rosdep_mocks/sources.cache/10be71ecf140657927f11aa700ec034e8f4759d7.pickle
  tests/resources/rosdep_mocks/sources.cache/293e47ffef56c54851128bd819e049251c816702.pickle
  tests/resources/rosdep_mocks/sources.cache/332f82f3f64530499747f2a36fbf0890612b4055.pickle
  tests/resources/rosdep_mocks/sources.cache/3ad46cfcf7ea462f9c4729acb5ce8eacd8011a35.pickle
  tests/resources/rosdep_mocks/sources.cache/5cdc2467bc336758a462e787cebf9878a5cf2805.pickle
  tests/resources/rosdep_mocks/sources.cache/6fbb8434ee1cd44cd9d6761573ef582820b8828f.pickle
  tests/resources/rosdep_mocks/sources.cache/7cfbeed211a3f9a6507c86cebaeedb3e3c4387f8.pickle
  tests/resources/rosdep_mocks/sources.cache/b4931581ca7c5741f7ee4ac9767a1174838296f7.pickle
  tests/resources/rosdep_mocks/sources.cache/index
Due: format, typing, lint

fix: missing dependency declaration on test deb
  tests/resources/test_debs/alternativedeps_0.0.0_all.deb
Due: none

ci: run integration tests on ros iron
  .github/workflows/main.yml
Due: none

[SSE-42] install ros archhive in rosenv
  src/rosenv/commands/initialize.py
  src/rosenv/environment/distro.py
  src/rosenv/environment/initialize.py
  src/rosenv/ros/__init__.py
  src/rosenv/ros/ros.py
Due: format, typing, lint

[SSE-43] update dependecies
  poetry.lock
Due: lockfile

[SSE-43] smaller fixes
  src/rosenv/ros/ros.py
Due: format, typing, lint

[SSE-43] check if link/file is ros2
  src/rosenv/commands/initialize.py
  src/rosenv/ros/ros.py
Due: format, typing, lint

migrate the ci files to the new python based versions
  .github/workflows/main.yml
  ci-format.py
  ci-format.sh
  ci-integration-test.py
  ci-integration-test.sh
  ci-lint.py
  ci-lint.sh
  ci-typing.py
  ci-unit-test.py
  pyproject.toml
  tests/test_distro.py
Due: lockfile, format, typing, lint

update poetry lock
  ci-format.py
  ci-integration-test.py
  ci-lint.py
  ci-typing.py
  ci-unit-test.py
  poetry.lock
  src/rosenv/logging/__init__.py
Due: lockfile, format, typing, lint

updated dependecies
  ci-typing.py
  ci-unit-test.sh
  poetry.lock
  pyproject.toml
Due: lockfile, format, typing, lint

fix: unignore dummy robenv
  .gitignore
Due: none

chore: update test recources
  tests/resources/rosdep_mocks/meta.cache/5c57306d8ea9d8eec9db440c6e9937664e0159b5.pickle
  tests/resources/rosdep_mocks/sources.cache/10be71ecf140657927f11aa700ec034e8f4759d7.pickle
  tests/resources/rosdep_mocks/sources.cache/293e47ffef56c54851128bd819e049251c816702.pickle
  tests/resources/rosdep_mocks/sources.cache/3ad46cfcf7ea462f9c4729acb5ce8eacd8011a35.pickle
  tests/resources/rosdep_mocks/sources.cache/5cdc2467bc336758a462e787cebf9878a5cf2805.pickle
  tests/resources/rosdep_mocks/sources.cache/6fbb8434ee1cd44cd9d6761573ef582820b8828f.pickle
  tests/resources/rosdep_mocks/sources.cache/729ed29341af8cb1cd944a69a34ea8f8a0f12a29.pickle
  tests/resources/rosdep_mocks/sources.cache/7cfbeed211a3f9a6507c86cebaeedb3e3c4387f8.pickle
  tests/resources/rosdep_mocks/sources.cache/825fae71ab9ea366e0b22e8dbe1e2948232cb2e8.pickle
  tests/resources/rosdep_mocks/sources.cache/b4931581ca7c5741f7ee4ac9767a1174838296f7.pickle
  tests/resources/rosdep_mocks/sources.cache/caf627f168f3c897c6ef62d907786800f18d5cc9.pickle
  tests/resources/rosdep_mocks/sources.cache/index
  tests/resources/rosdistro_index/index-v4.yaml
Due: none

chore: add Logo
  README.md
  assets/robenv.eps
  assets/robenv.pdf
  assets/robenv.png
  assets/robenv.svg
  assets/robenv_white_background.png
Due: none

fix: install ROS for unit tests
  .github/workflows/main.yml
Due: none

fix: dynamic ros distro
  tests/conftest.py
  tests/integration/commands/install/test_install.py
  tests/test_distro.py
  tests/unit/rosdep/test_rosdep.py
Due: format, typing, lint

fix: use app
  tests/integration/commands/test_clean_cache.py
Due: format, typing, lint

fix: install meta test
  tests/integration/commands/conftest.py
  tests/integration/conftest.py
  tests/integration/test_install_meta.py
Due: format, typing, lint

fix: Update container to humble-core
  docker/Makefile
  docker/humble.Dockerfile
Due: none
